body {
  font-family: 'Courier New';
  margin: 0;
  color: #fff;
  background: #000014;
}

.signup-container {
  max-width: 400px;
  margin: 120px auto;
  padding: 20px;
  background: #06061a; /* same as module cards */
  border: 1px solid #0d0d3a;
  border-radius: 6px;
  color: #fff;
}

.signup-container h2 {
  color: #fff;
  margin-bottom: 20px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.signup-form label {
  font-size: 0.9rem;
  color: #fff;
}

.signup-form input {
  padding: 10px;
  border: 1px solid #0bdcd1;
  border-radius: 4px;
  background: #01021a;
  color: #fff;
}

.signup-form input:focus {
  outline: none;
  border-color: #0bdcd1;
  box-shadow: 0 0 6px rgba(11, 220, 209, 0.3);
}

.signup-form button {
  margin-top: 15px;
  padding: 10px 15px;
  margin: 20px auto 0;   /* auto left/right margins center it */
  display: block;        /* ensures margin:auto works */
  border: 1px solid #0bdcd1;
  border-radius: 5px;
  background: #01021a;
  color: #fff;
  cursor: pointer;
  transition: background 0.3s, box-shadow 0.3s, transform 0.2s;
}

.signup-form button:hover {
  background: rgba(11, 243, 231, 0.567);
  color: #01021a;
  box-shadow: 0 0 6px rgba(11, 220, 209, 0.3), 0 0 12px rgba(11, 220, 209, 0.2);
  transform: translateY(-2px);
}
